<div class="modal">
    <div class="modal-content">
        <form id="delete-link-form">
            <div class="form-group">
                <input type="number" placeholder="Secret Pin" name="pin" required />
            </div>
            <div class="modal-buttons">
                <button type="button" class="modal-btn" id="link-cancel">Cancel</button>
                <button type="submit" class="modal-btn">Delete</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("link-cancel").addEventListener("click", function () {
        const folderId = urlParams.get("id");
        window.location.href = "/links?id=" + folderId;
    });

    document.getElementById("delete-link-form").addEventListener("submit", async function (e) {
        e.preventDefault();

        const pin = e.target.pin.value;
        const urlParams = new URLSearchParams(window.location.search);
        const folderId = urlParams.get("id");
        const linkID = urlParams.get("linkID");

        try {
            const response = await fetch("/api/v1/folder/remove-link", {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ folderID: folderId, pin: pin, linkID: linkID }),
            });

            if (response.status === 204) {
                window.location.href = "/links?id=" + folderId;
            } else {
                const errorData = await response.json();
                alert(errorData.error);
                window.location.href = "/links?id=" + folderId;
            }

        } catch (error) {
            console.error("Error:", error);
            alert("Failed to delete folder.");
        }
    });
</script>