<div class="modal">
  <div class="modal-content">
    <form id="delete-folder-form">
      <div class="form-group">
        <input
          type="text"
          placeholder="Secret Pin"
          name="pin"
          required
        />
      </div>
      <div class="modal-buttons">
        <button type="button" class="modal-btn" id="folder-cancel">Cancel</button>
        <button type="submit" class="modal-btn">Delete</button>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById("folder-cancel").addEventListener("click", function () {
    window.location.href = "/";
  });

  document.getElementById("delete-folder-form").addEventListener("submit", async function (e) {
    e.preventDefault();

    const pin = e.target.pin.value;
    const urlParams = new URLSearchParams(window.location.search);
    const folderId = urlParams.get("id");

    try {
      const response = await fetch("/api/v1/folder", {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ folderID : folderId,pin : pin }) ,
      });

      if (response.status === 204) {
        window.location.href = "/";
      } else {
        const errorData = await response.json();
        alert(errorData.error);
        window.location.href = "/";
      }

    } catch (error) {
      console.error("Error:", error);
      alert("Failed to delete folder.");
    }
  });
</script>
