<div class="footer-text-container">
    <p class="footer-text"><span class="footer-text-name">browsebin</span> - <a class="item-url" href="https://github.com/arjunshajitech/browsebin" target="_blank">github link...</a></p>
</div>  