<div class="footer-text-container">
    {{!-- <p class="footer-text"><span class="footer-text-name">brosweBIN!</span></p> --}}
    <a class="footer-text item-url footer-text-name" href="https://github.com/arjunshajitech/brosweBIN"
        target="_blank">brosweBIN!</a>
</div>