<div class="header">
  <div class="nav">
    {{#if title}}
      <button class="btn" id="home">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><g fill="currentColor"><path d="M9 17.25a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5H9Z"/><path fill-rule="evenodd" d="M12 1.25c-.725 0-1.387.2-2.11.537c-.702.327-1.512.81-2.528 1.415l-1.456.867c-1.119.667-2.01 1.198-2.686 1.706C2.523 6.3 2 6.84 1.66 7.551c-.342.711-.434 1.456-.405 2.325c.029.841.176 1.864.36 3.146l.293 2.032c.237 1.65.426 2.959.707 3.978c.29 1.05.702 1.885 1.445 2.524c.742.64 1.63.925 2.716 1.062c1.056.132 2.387.132 4.066.132h2.316c1.68 0 3.01 0 4.066-.132c1.086-.137 1.974-.422 2.716-1.061c.743-.64 1.155-1.474 1.445-2.525c.281-1.02.47-2.328.707-3.978l.292-2.032c.185-1.282.332-2.305.36-3.146c.03-.87-.062-1.614-.403-2.325C22 6.84 21.477 6.3 20.78 5.775c-.675-.508-1.567-1.039-2.686-1.706l-1.456-.867c-1.016-.605-1.826-1.088-2.527-1.415c-.724-.338-1.386-.537-2.111-.537ZM8.096 4.511c1.057-.63 1.803-1.073 2.428-1.365c.609-.284 1.047-.396 1.476-.396c.43 0 .867.112 1.476.396c.625.292 1.37.735 2.428 1.365l1.385.825c1.165.694 1.986 1.184 2.59 1.638c.587.443.91.809 1.11 1.225c.199.416.282.894.257 1.626c-.026.75-.16 1.691-.352 3.026l-.28 1.937c-.246 1.714-.422 2.928-.675 3.845c-.247.896-.545 1.415-.977 1.787c-.433.373-.994.593-1.925.71c-.951.119-2.188.12-3.93.12h-2.213c-1.743 0-2.98-.001-3.931-.12c-.93-.117-1.492-.337-1.925-.71c-.432-.372-.73-.891-.977-1.787c-.253-.917-.43-2.131-.676-3.845l-.279-1.937c-.192-1.335-.326-2.277-.352-3.026c-.025-.732.058-1.21.258-1.626c.2-.416.521-.782 1.11-1.225c.603-.454 1.424-.944 2.589-1.638l1.385-.825Z" clip-rule="evenodd"/></g></svg>
      </button>
      <button class="btn" id="create-folder">
        <svg
          class="svg-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="200"
          height="200"
          viewBox="0 0 24 24"
        ><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M18 13.5v8m4-4h-8m-7-11h9.75c2.107 0 3.16 0 3.917.506a3 3 0 0 1 .827.827c.465.695.502 1.851.505 3.667M12 6.5l-.633-1.267c-.525-1.05-1.005-2.106-2.168-2.542C8.69 2.5 8.108 2.5 6.944 2.5c-1.816 0-2.724 0-3.406.38A3 3 0 0 0 2.38 4.038C2 4.72 2 5.628 2 7.444V10.5c0 4.714 0 7.071 1.464 8.535C4.822 20.394 6.944 20.493 11 20.5"
            color="currentColor"
          /></svg>
      </button>
    {{else}}
      <button class="btn" id="add-link">
        <svg
          class="svg-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="200"
          height="200"
          viewBox="0 0 2048 2048"
        ><path
            fill="currentColor"
            d="M768 1216q0 66 25 124t68 102t102 69t125 25h192v128h-192q-93 0-174-35t-142-96t-96-142t-36-175q0-93 35-174t96-142t142-96t175-36h64v128h-64q-66 0-124 25t-102 69t-69 102t-25 124zm768-320V768h64q93 0 174 35t142 96t96 142t36 175q0 88-33 169t-95 144v-313q0-66-25-124t-69-101t-102-69t-124-26h-64zM960 384q93 0 174 35t142 96t96 142t36 175q0 93-35 174t-96 142t-142 96t-175 36h-64v-128h64q66 0 124-25t101-68t69-102t26-125q0-66-25-124t-69-101t-102-69t-124-26H448q-66 0-124 25t-102 69t-69 102t-25 124q0 66 25 124t68 102t102 69t125 25h64v128h-64q-93 0-174-35t-142-96t-96-142T0 832q0-93 35-174t96-142t142-96t175-36h512zm1088 1280v128h-256v256h-128v-256h-256v-128h256v-256h128v256h256z"
          /></svg>
      </button>
      <button class="btn" id="back">
        <svg
          class="svg-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="200"
          height="200"
          viewBox="0 0 24 24"
        ><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M4.808 9.441L6.774 7.47C8.19 6.048 8.744 5.284 9.51 5.554c.957.337.642 2.463.642 3.18c1.486 0 3.032-.131 4.497.144C19.487 9.787 21 13.715 21 18c-1.37-.97-2.737-2.003-4.382-2.452c-2.054-.562-4.348-.294-6.465-.294c0 .718.314 2.844-.642 3.181c-.868.306-1.321-.494-2.737-1.915l-1.966-1.972C3.603 13.338 3 12.733 3 11.995c0-.74.603-1.344 1.808-2.554"
            color="currentColor"
          /></svg>
      </button>
    {{/if}}
  </div>
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search); let folderId =
  urlParams.get("id");
  document.getElementById("create-folder")?.addEventListener("click", function
  () { window.location.href = "?q=create-folder"; });
  document.getElementById("add-link")?.addEventListener("click", function () {
  window.location.href = "?q=add-link&id=" + folderId; });
  document.getElementById("home")?.addEventListener("click", function () {
  window.location.href = "/"; });
  document.getElementById("back")?.addEventListener("click", function () {
  window.location.href = "/"; });
</script>