<div class="input-main-container">
  <div class="input-container">
    <p class="bash-text">
      <span class="user">root</span><span class="vm">@browsebin</span>:<span
        class="char"
      >~</span>#
    </p>
    <input type="text" placeholder="Search here..." class="input" />
  </div>
</div>