body {
  min-height: 90vh;
  max-height: 90vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
    font-family: "Spline Sans Mono", monospace;

  font-optical-sizing: auto;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}