.content {
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
    min-height: 70vh;      
    max-height: 70vh;
    overflow-y: auto;  
    overflow-x: hidden;
}

.title-no-data-text {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #0066cc;
}

.item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.item-link {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    margin-left: 15px;

    svg {
        width: 18px;
        height: 18px;
    }
}

.item:hover {
    background: #f8f8f8;
}

.item-icon {
    margin-right: 12px;
    width: 25px;
    height: 25px;
    /* flex-shrink: 0;
    fill: currentColor; */
}

.item-info {
    flex: 1;
    min-width: 0;
}

.item-name {
    font-weight: 400;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.item-url {
    font-size: 12px;
    color: #0066cc;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.2s;
    flex-shrink: 0;
}

.item:hover .delete-btn {
    opacity: 1;
}


.empty {
    text-align: center;
    padding: 40px 20px;
    color: #999;
    font-size: 14px;
}

@media (max-width: 480px) {
    .header {
        padding: 12px;
    }

    .nav {
        gap: 8px;
    }

    .btn {
        padding: 6px 8px;
        font-size: 12px;
    }

    .content {
        padding: 12px;
    }

    .item-name,
    .item-url {
        max-width: 200px;
    }
}

.delete-folder {
    svg {
        color: red;
    }
}