.footer-text-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #eee;

    .footer-text {
        font-size: 16px;
        cursor: pointer;
        font-style: italic;
    }

    .footer-text-name {
        font-style: italic;
    }
}